<style>
  .stagePlanSection {
    margin-top: 2mm;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .stagePlanSection .stagePlan {
    max-height: 100%;
    max-width: 80%;
  }
</style>
<div class="stagePlanSection">
  <img class="stagePlan" src="<%= section.content.stage_plan %>" alt="Stage plan">
</div>
